._app_root_component__root {
  background-color: #bada55;
}
._header_header__header {
  background-color: #292929;
  color: #fff;
}
._footer_footer__footer {
  background-color: #292929;
  color: #fff;
}
